#app {
  height: 100vh;
}

#editor {
  max-width: none;
  outline: 1px solid #808080;

  /* Checkerboard background */
  background: conic-gradient(
      white 0.25turn,
      #e0e0e0 0.25turn 0.5turn,
      white 0.5turn 0.75turn,
      #e0e0e0 0.75turn
  );
  background-size: 16px 16px;
}